{% block javascripts %}
	
{% endblock %}
{% block body %}


	<table id="CustomerTable">
		<thead>
			<tr>
				<th>Customer</th>
				<th>Filter the Data</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				

			</tr>
		</tbody>
	</table>
	{# <div>
	    <table cellpadding="0" cellspacing="0" style="text-align:center">
	  <tr>
	    <td class="menu" width="120">
	   <a href="#">menu</a>
	   <ul class="sub-menu">
	        <li><a href="sub1-1.htm">01/01/22</a></li>
	  <li><a href="sub1-2.htm">01/01/22</a></li>
	  <li><a href="sub1-3.htm">01/01/22</a></li>
	  <li><a href="sub1-4.htm">01/01/22</a></li>
	   </ul>
	 </td> #}
	{# <td class="menu" width="120">
	   <a href="#">Finish date</a>
	   <ul class="sub-menu">
	        <li><a href="sub2-1.htm">01/05/22</a></li>
	  <li><a href="sub2-2.htm">01/05/22</a></li>
	  <li><a href="sub2-3.htm">01/05/22</a></li>
	   </ul>
	 </td>
	    <td class="menu" width="120">
	   <a href="#">Sold</a>
	   <ul class="sub-menu">
	        <li><a href="sub3-1.htm">40</a></li>
	  <li><a href="sub3-2.htm">1</a></li>
	  <li><a href="sub3-3.htm">3</a></li>
	   </ul>
	 </td>
	 <a href="#">Actual</a>
	   <ul class="sub-menu">
	        <li><a href="sub3-1.htm">0</a></li>
	  <li><a href="sub3-2.htm">2</a></li>
	  <li><a href="sub3-3.htm">3</a></li>
	   </ul>
	 </td>
	 <a href="#">Remaining</a>
	   <ul class="sub-menu">
	        <li><a href="sub3-1.htm">40</a></li>
	  <li><a href="sub3-2.htm">1</a></li>
	  <li><a href="sub3-3.htm">1</a></li>
	   </ul>
	 </td>
	 <a href="#">Rate</a>
	   <ul class="sub-menu">
	        <li><a href="sub3-1.htm">1000€</a></li>
	  <li><a href="sub3-2.htm">1200€</a></li>
	  <li><a href="sub3-3.htm">1300€</a></li>
	   </ul>
	 </td>
	 <a href="#">Total</a>
	   <ul class="sub-menu">
	        <li><a href="sub3-1.htm">200€</a></li>
	  <li><a href="sub3-2.htm">2400€</a></li>
	  <li><a href="sub3-3.htm">1200€</a></li> #}


	<table border="3">
		<thead>
        <td>Person</td>
            <td contenteditable='true'>Start date</td>
				<td contenteditable='true'>Finish date</td>
				<td contenteditable='true'>Sold</td>
				<td contenteditable='true'>Actual</td>
				<td contenteditable='true'>Remaining</td>
				<td contenteditable='true'>Rate</td>
				<td contenteditable='true'>Total</td>
        </thead>
		<tbody>
			<tr>
				<td class="dropdown">
					<form action="" name="FILTER">
						<select name="filter_for" size="5">
							<option value="Druck">Druck</option>
							<option value="Zahl">Zahl</option>
							<option value="Temperatur">Temperatur</option>
							<option value="Drehzahl">Drehzahl</option>
							<option value="andere">andere</option>
						</select>
					</form>
				</td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
			</tr>
			<tr>
            <td class="dropdown">
					<form action="" name="FILTER">
						<select name="filter_for" size="5">
							<option value="Druck">Druck</option>
							<option value="Zahl">Zahl</option>
							<option value="Temperatur">Temperatur</option>
							<option value="Drehzahl">Drehzahl</option>
							<option value="andere">andere</option>
						</select>
					</form>
				</td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
			</tr>
			<tr>
            <td class="dropdown">
					<form action="" name="FILTER">
						<select name="filter_for" size="5">
							<option value="Druck">Druck</option>
							<option value="Zahl">Zahl</option>
							<option value="Temperatur">Temperatur</option>
							<option value="Drehzahl">Drehzahl</option>
							<option value="andere">andere</option>
						</select>
					</form>
				</td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
			</tr>
			<tr>
            <td class="dropdown">
					<form action="" name="FILTER">
						<select name="filter_for" size="5">
							<option value="Druck">Druck</option>
							<option value="Zahl">Zahl</option>
							<option value="Temperatur">Temperatur</option>
							<option value="Drehzahl">Drehzahl</option>
							<option value="andere">andere</option>
						</select>
					</form>
				</td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
				<td contenteditable='true'></td>
			</tr>
		</tbody>
	</table>
</td></tr></table></div>
{% endblock %}{% block stylesheets %}.menu, .menu ul.sub-menu {
	    padding:0;
	    margin: 0;
	}
	ul {
	
	}
	.menu {
	
	}
	.menu ul.sub-menu li {
	    list-style-type: none;
	    display: inline-block;
	    background: url(../images/nav-bar.png) center left repeat-x;
	}
	.menu a, .menu ul.sub-menu li a {
	    text-decoration: none;
	    padding: 5px;
	    display:inline-block;
	}
	.menu {
	    position: relative;
	}
	/*sub menu*/
	.menu ul.sub-menu {
	    display:none;
	    position: absolute;
	    top: 40px;
	    width: 100px;
	}
	.menu:hover ul.sub-menu {
	    display:block;
	}{% endblock %}
